<h2><%= l(:issues_reminder) %></h2>
<div class="splitcontentleft">
  <table id="reminders" class="list members">
    <thead>
      <tr>
        <th><%= l(:query) %></th>
        <th><%= l(:roles) %></th>
        <th><%= l(:interval) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'reminder', collection: @reminders %>
    </tbody>
  </table>
</div>

<div class="splitcontentright">
  <fieldset>
    <legend><%= l(:new_reminder) %></legend>
    <%= render :partial => 'form', :locals => { :reminder => @reminder } %>
  </fieldset>
</div>

<%= javascript_tag do %>
  $(function() {
    var options = {
      daily: "<%= escape_javascript options_for_select(MailReminder.interval_values_for(:daily)) %>",
      weekly: "<%= escape_javascript options_for_select(MailReminder.interval_values_for(:weekly)) %>",
      monthly: "<%= escape_javascript options_for_select(MailReminder.interval_values_for(:monthly)) %>"
    };

    $(document).on("change", "#reminder_interval", function() {
      var interval = $(this);
      var values = interval.closest("form").find("#reminder_interval_value");
      values.empty().append(options[interval.val()]);
    });
  });
<% end %>
